<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>题库练习系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>

<header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title">
        题库练习系统
    </h1>
</header>

<div class="am-g">
    <div class="am-u-sm-12">
        <div class="am-padding-top-sm am-padding-bottom-sm am-text-danger info">&nbsp;</div>
        <form class="am-form">
            <div class="am-form-group">
                <input type="text" name="name" class="am-form-field am-radius" placeholder="请填写账号" />
            </div>
            <!--                    <div class="am-form-group">
                                    <input type="password" name="passwd" class="am-form-field am-radius" placeholder="请填写密码" />
                                </div>-->
            <div>
                <button type="button" class="am-btn am-btn-primary am-btn-block am-radius" id="login">登 录</button>
                <button type="button" class="am-btn am-btn-primary am-btn-block am-radius" id="reg">注 册</button>
            </div>
        </form>
    </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script>
    if (!!window.localStorage) {
        if(!!window.localStorage.name){
            $("input[name='name']").val(window.localStorage.name);
        }
    }
    $("#login").on("click", function () {
        var name = $("input[name='name']").val();
        var pass = $("input[name='passwd']").val();
        if (name == '') {
            $(".info").html("账号不能为空");
            //} else if (pass == '') {
            //    $(".info").html("密码不能为空");
        } else {
            request({method: "login", name: name}, function (d) {
                if (!!window.localStorage) {
                    window.localStorage.name = name;
                }
                if(!!d.error){
                    $(".info").html(d.error);
                }else{
                    location.href = "index.php";
                }
            }, false, false, true);
        }
        return false;
    });

    $("#reg").on("click", function () {
        location.href = "reg.php";
    });

</script>
</body>
</html>
